body {
  margin: 0;
  padding: 0;
}

.pageContainer {
  width: 100vw;
  height: 100vh;
  background: #8bb174;
}

.pageContainer2 {
  width: 100vw;
  height: 100vh;
  background: #8bb174;
  display: flex;
  justify-content: center;
  align-items: center;
}

.courseInfo {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#oneCourseIMG {
  margin-top: 22px;
}

#oneCourseIMGTXT {
  margin-top: 20px;
}

.courseName {
  font-size: 30px;
  text-decoration: underline;
}

.coursePhone {
  font-size: 22px;
}

.courseAddr {
  font-size: 22px;
}
.cityState {
  display: flex;
}

.courseCity {
  font-size: 22px;
}

.courseState {
  font-size: 22px;
}

.teeTypeBox {
  display: flex;
  flex-direction: column;
  margin-left: 160px;
  margin-top: 20px;
  height: 38px;
  width: 150px;
}

.teeTypeInfo {
  font-size: 20px;
  text-decoration: underline;
  margin-bottom: 12px;
}

.bottomSection {
  display: flex;
  flex-direction: column;
  //   align-items: center;
  justify-content: space-between;
}

.notButtonBox {
  display: flex;
  justify-content: space-between;
}

#errorMsg {
  color: red;
  font-size: 18px;
  font-weight: bold;
  text-decoration: underline;
}

.singlePlayer {
  margin-top: 8px;
  font-size: 18px;
}

.addPlayerBox {
  margin-right: 160px;
  margin-top: 25px;
}

.playerList {
  margin-bottom: 12px;
  font-size: 20px;
  text-decoration: underline;
}

.middleSection {
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: space-between;
}

.beginButton {
  display: flex;
  justify-content: center;
}
